<div class="page-cover">
  <img src="../../images/cover.png">
</div>
<div class="page-content">
  <div class="page-header radio">
    <div class="picture">
      <img ng-src="{{$ctrl.getImageURL($ctrl.radio.image.identifier100)}}">
    </div>
    <div class="plays" ng-repeat="play in $ctrl.plays">
      <button class="round" mp-play="play"><div class="inner"><i class="fa fa-play"></i></div></button>
      <button class="round" ng-disabled="!$ctrl.isIdentified()" ng-click=$ctrl.favoritePlay(play)>
          <div ng-class="{
              'inner inner-in': play.favorite == true,
              'inner': play.favorite == false
            }"><i class="fa fa-heart"></i>
          </div>
      </button>
    </div>
    <div class="information">
      <h1 class="name color-primary">{{$ctrl.radio.name}}</h1>
      <p class="location">{{$ctrl.radio.city}}</p>
    </div>
    <div class="stats">
      <div class="stat border-right">
        <i class="icon fa fa-heart"></i>
        <p class="value">{{$ctrl.radio.likes}}</p>
        <p class="label">Favoritos</p>
      </div>
      <div class="stat border-left">
        <i class="icon fa fa-star"></i>
        <p class="value">{{$ctrl.score}}</p>
        <p class="label">Nota</p>
      </div>
    </div>
  </div>
  <div class="page-section">
    <section class="mural">
      <nav class="tabs">
        <ul class="nav">
          <li class="nav-item color-primary" ng-class="{active: $ctrl.tab == 'wall'}" ng-click="$ctrl.selectTab('wall')">Mural</li>
          <li class="nav-item color-primary" ng-class="{active: $ctrl.tab == 'reviews'}" ng-click="$ctrl.selectTab('reviews')">Avalia&ccedil;&otilde;es</li>
        </ul>
      </nav>
      <div class="form-group alert alert-warning" ng-show="!$ctrl.isIdentified()">
        <strong>É preciso fazer login para mandar uma mensagem.</strong>
      </div>
      <div class="form-group alert alert-info" ng-show="$ctrl.info">
        <strong>{{$ctrl.info}}</strong>
      </div>
      <div class="form-group alert alert-error" ng-show="$ctrl.error">
        <strong>{{$ctrl.error}}</strong>
      </div>
      <section class="content">
        <div class="content-inner" ng-show="$ctrl.tab == 'wall'">
          <div class="composer" ng-show="$ctrl.isIdentified()">
            <div class="container">
              <div class="author">
                <img src="../../images/avatar.png" ng-src="{{$ctrl.getImageURL($ctrl.profile().image.identifier100)}}">
              </div>
              <textarea class="text-area" rows="1" ng-model="$ctrl.msgPost" placeholder="Mande uma mensagem para a rádio"></textarea>
            </div>
            <div class="actions">
              <button class="button bg-primary color-primary" ng-click="$ctrl.toogleAnexarFoto()"><i class="fa fa-file-image-o"></i>&nbsp;&nbsp;Anexar uma foto</button>
              <button class="button bg-primary color-primary" ng-click="$ctrl.toogleAnexarAudio()"><i class="fa fa-microphone"></i>&nbsp;&nbsp;Anexar um áudio</button>
              <button class="submit-button pull-right" ng-click="$ctrl.sendPost()">Enviar</button>
            </div>
            <div class="file" ng-show="$ctrl.anexarFoto">
              <input 
                id="picture" 
                class="form-control" type="file" name="picture" accept="image/jpg,image/jpeg,image/png,image/gif" 
                ng-model="$ctrl.picture.valid" ngf-select ngf-model-invalid="$ctrl.picture.invalid"
                ngf-resize="{quality: 0.6, type: 'image/jpeg'}" ngf-pattern="'.jpg,.jpeg,.png,.gif'" />
              <img style="width: auto; max-height: 120px; margin: 5px" ngf-thumbnail="$ctrl.picture.valid" ng-show="$ctrl.picture.valid">
            </div>
            <div class="file" ng-show="$ctrl.anexarAudio">
              <input 
                id="audio" 
                class="form-control" type="file" name="audio" accept="audio/*" 
                ng-model="$ctrl.audio.valid" ngf-select ngf-model-invalid="$ctrl.audio.invalid"
                ngf-resize="{quality: 0.6, type: 'audio/*'}" ngf-pattern="'.mp3'" />
              <img style="width: auto; max-height: 120px; margin: 5px" ngf-thumbnail="$ctrl.audio.valid" ng-show="$ctrl.audio.valid">
            </div>
          </div>
          <div class="form-group alert alert-info" ng-show="!$ctrl.posts || $ctrl.posts.length == 0">
            <strong>Nenhuma mensagem no mural.</strong>
          </div>
          <ul class="post-list vertical wrap" infinite-scroll="$ctrl.loadMorePosts()" infinite-scroll-parent infinite-scroll-disabled="$ctrl.postsState != 'idle'">
            <li class="post" ng-repeat="post in $ctrl.posts">
              <div class="header">
                <div class="picture">
                  <img src="../../images/avatar.png" ng-src="{{$ctrl.getImageURL(post.author.image.identifier100)}}">
                </div>
                <div class="info">
                  <p class="author">{{post.author.name}}</p>
                  <div ng-switch="post.postType">
                    <p class="date" ng-switch-when="0">enviou um recado em {{post.dateTime | date : 'dd/MM/yyyy'}} às {{post.dateTime | date : 'HH:mm'}}</p>
                    <p class="date" ng-switch-when="1">enviou uma foto em {{post.dateTime | date : 'dd/MM/yyyy'}} às {{post.dateTime | date : 'HH:mm'}}</p>
                    <p class="date" ng-switch-when="2">enviou um áudio em {{post.dateTime | date : 'dd/MM/yyyy'}} às {{post.dateTime | date : 'HH:mm'}}</p>
                  </div>
                  <p class="text">{{post.text}}</p>
                  <div class="attachment" ng-switch="post.postType" ng-if="post.attachmentIdentifier">
                    <img src="../../images/avatar.png" ng-src="{{$ctrl.getImageURL(post.attachmentIdentifier)}}" ng-switch-when="1">
                    <audio ng-src="{{::$ctrl.getFileURL(post.attachmentIdentifier)}}" controls ng-switch-when="2"></audio>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="content-inner" ng-show="$ctrl.tab == 'reviews'">
          <div class="composer" ng-show="$ctrl.isIdentified()">
            <div class="container">
              <div class="rating">
                <span uib-rating 
                  ng-model="$ctrl.reviewScore" max="5" read-only="false" 
                  state-on="'fa fa-star'" state-off="'fa fa-star-o'"></span>
              </div>
              <textarea class="text-area" rows="1" ng-model="$ctrl.msgReview" placeholder="Avalie a rádio"></textarea>
            </div>
            <div class="actions">
              <button class="submit-button pull-right" ng-click="$ctrl.sendReview()">Enviar</button>
            </div>
          </div>
          <div class="form-group alert alert-info" ng-show="!$ctrl.reviews || $ctrl.reviews.length == 0">
            <strong>Nenhuma avaliação para a rádio.</strong>
          </div>
          <ul class="post-list vertical wrap">
            <li class="post" ng-repeat="review in $ctrl.reviews">                
              <div class="header">
                <div class="picture">
                  <img src="../../images/avatar.png" ng-src="{{$ctrl.getImageURL(review.author.image.identifier100)}}">
                </div>
                <div class="info">
                  <p class="author">{{review.author.name}}</p>
                  <p class="date">avaliou a rádio em {{review.dateTime | date : 'dd/MM/yyyy'}} às {{review.dateTime | date : 'HH:mm'}}</p>
                  <p class="text">{{review.text}}</p>
                </div>
                <div class="rating">
                  <span uib-rating 
                    ng-model="review.score" max="5" read-only="true" 
                    state-on="'fa fa-star'" state-off="'fa fa-star-o'"></span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
    </section>

    <aside class="radio-aside">
      <h2 class="title color-primary">Contato</h2>
      <p class="text" ng-repeat="address in $ctrl.addresses">
        {{address.address.street.name + ', ' + address.address.street.district.city.name + ' - ' + address.address.street.district.city.state.acronym}}
      </p>
      <p class="text" ng-repeat="phone in $ctrl.phones">
        {{phone.phone.phonenumber}}
      </p>
      <hr class="separator">
      <h2 class="title color-primary mgtp30">Redes Sociais</h2>
      <a href="{{social.value}}" target="_blank" class="social color-primary" ng-repeat="social in $ctrl.socials">
        <i class="fa" ng-class="{
          'fa-facebook-official': social.socialNetwork.value == 'Facebook',
          'fa-twitter': social.socialNetwork.value == 'Twitter',
          'fa-instagram': social.socialNetwork.value == 'Instagram',
        }"></i>
      </a>
      <hr class="separator">
      <h2 class="title color-primary mgtp30">Programação</h2>
      <ul class="days">
        <li ng-class="{'color-primary': $ctrl.day == 'day0'}" ng-click="$ctrl.selectDay('day0')">Seg</li>
        <li ng-class="{'color-primary': $ctrl.day == 'day1'}" ng-click="$ctrl.selectDay('day1')">Ter</li>
        <li ng-class="{'color-primary': $ctrl.day == 'day2'}" ng-click="$ctrl.selectDay('day2')">Qua</li>
        <li ng-class="{'color-primary': $ctrl.day == 'day3'}" ng-click="$ctrl.selectDay('day3')">Qui</li>
        <li ng-class="{'color-primary': $ctrl.day == 'day4'}" ng-click="$ctrl.selectDay('day4')">Sex</li>
        <li ng-class="{'color-primary': $ctrl.day == 'day5'}" ng-click="$ctrl.selectDay('day5')">Sáb</li>
        <li ng-class="{'color-primary': $ctrl.day == 'day6'}" ng-click="$ctrl.selectDay('day6')">Dom</li>
      </ul>
      <ul class="programs-list">
        <li class="program" ng-repeat="program in $ctrl.programs | orderBy : 'timeStart'" ng-if="program[$ctrl.day]">
          {{program.timeStart | limitTo : 5}} - <span class="name">{{program.name}}</span>
        </li>
      </ul>
    </aside>
  </div>
</div>
<div class="gradient-bg section">
  <div class="page-footer">
    <div class="page-footer-section page-footer-left-section">
      <h2 class="section-title color-primary">Rádios Semelhantes</h2>
      <div class="similar-radios-container">
        <ul class="similar-radio-list vertical wrap" infinite-scroll="$ctrl.loadMoreSimilar()" infinite-scroll-parent infinite-scroll-disabled="$ctrl.similarState != 'idle'">
          <li class="radio" ng-repeat="radio in $ctrl.similar">
            <div class="picture-wrap" ng-click="$ctrl.goToRadio(radio.id)">
              <img class="picture" ng-src="{{$ctrl.getImageURL(radio.image.identifier60)}}">
            </div>
            <div class="content">
              <h3 class="title" ng-click="$ctrl.goToRadio(radio.id)">{{radio.name}}</h3>
              <p class="location">{{radio.city}}</p>
              <div class="actions">
                <button class="round" mp-play="radio"><div class="inner">&nbsp;<i class="fa fa-play"></i></div></button>
                <button class="round" ng-disabled="!$ctrl.isIdentified()" ng-click=$ctrl.favorite(radio)>
                  <div ng-class="{
                      'inner inner-in': radio.favorite == true,
                      'inner': radio.favorite == false
                    }"><i class="fa fa-heart"></i>
                  </div>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-footer-section page-footer-right-section">
      <h2 class="section-title color-primary">Encontre as rádios em todo o Brasil</h2>
      <mp-search-form class="mgtp20"></mp-search-form>
      <h2 class="section-title section-title-small color-primary mgtp40">Qual seu estilo musical preferido?</h2>
      <h2 class="section-title section-title-small color-primary">Gêneros musicais</h2>
      <div class="genres">
        <div class="container" ng-repeat="genre in $ctrl.genres track by genre.id">
          <div class="picture" ng-switch="genre.musicGenre.id" ng-click="$ctrl.selectGenre(genre.id)">
            <img src="../../images/anos-60-90.jpg" ng-switch-when="1">
            <img src="../../images/catolica.jpg" ng-switch-when="2">
            <img src="../../images/classica.jpg" ng-switch-when="3">
            <img src="../../images/country.jpg" ng-switch-when="4">
            <img src="../../images/edm.jpg" ng-switch-when="5">
            <img src="../../images/gospel.jpg" ng-switch-when="6">
            <img src="../../images/esporte.jpg" ng-switch-when="7">
            <img src="../../images/mpb.jpg" ng-switch-when="8">
            <img src="../../images/popular.jpg" ng-switch-when="9">
            <img src="../../images/pop-internacional.jpg" ng-switch-when="10">
            <img src="../../images/rock.jpg" ng-switch-when="11">
            <img src="../../images/samba.jpg" ng-switch-when="12">
            <img src="../../images/sertanejo.jpg" ng-switch-when="13">
          </div>
          <h3 class="title color-primary">{{genre.musicGenre.name}}</h3>
        </div>
      </div>
      <button class="outline-button border-primary color-primary" ng-click="$ctrl.viewAllGenres()">Ver todos</button>
    </div>
  </div>
</div>