.radio {
  .picture {
    width: 180px;
    height: 180px;
    border: solid 1px #dddfe2;
    border-radius: 2px;
    background: #fff;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;    
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }  
  .information {
    padding: 0 25px;
    flex: 1 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 1.2em; 
    .name {
      width: 600px;
      font-weight: 600;
      font-size: 28px;
      text-transform: uppercase;
    }    
    .location {
      font-weight: 300;
      font-size: 20px;
      margin-top: 5px;
    }
  }
  .plays {
    button[disabled] {    
      border-color: #ccc !important;
    }
    button[disabled] .inner, button[disabled] .inner-in {    
      background: #ccc !important;
    }
    .round {
      box-sizing: border-box;
      border: solid 2px #00afd3;
      border-radius: 50%;
      outline: none;
      padding: 0;
      margin-left: 10px;
      float: left;  
      .inner {
        box-sizing: border-box;
        color: white;
        background: #65d3e3;
        width: 46px;
        height: 46px;
        border: solid 6px white;
        border-radius: 50%;
        line-height: 34px;
        font-size: 16px;
      }      
      .inner-in {
        background-color: #e53b42 !important;
      }
    }   
  }
  .stats {
    float: right;
    background: #fff;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 4px;
    border-bottom: solid 2px #ebeef0;
    .stat {
      float: left;
      border: none;
      min-width: 88px;
      padding: 12px 20px;
      box-sizing: border-box;
      text-align: center;
      .likes {
        border-right: solid 1px #ebeef0;
      }    
      .grade {
        border-left: solid 1px #ebeef0;
      }    
      .icon {
        color: #f85458;
        font-size: 18px !important;
      }    
      .value {
        margin: 5px 0 0;
        font-weight: 500;
        font-size: 16px;
        color: #34495e;
      }    
      .label {
        margin: 3px 0 0;
        font-weight: 400;
        font-size: 9px;
        color: #7b8a97;
      }
    }
    .border-right {
      border-right: solid 1px #ebeef0;
    }  
    .border-left {
      border-left: solid 1px #ebeef0;
    }
  }
}

.mural {
  flex: 1 0 60%;
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  .tabs {
    background: linear-gradient(to bottom, #d8dfeb 0%, #7ad1e3 100%);
    .nav {
      height: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;

      .nav-item {
        flex: 1 0 auto;
        text-align: center;
        font-family: 'Dosis', sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 48px;
        opacity: .5;
      }

      .nav-item.active {
        border-bottom: solid 4px #16a5c9;
        color: #ffffff;
        font-size: 20px;
        opacity: 1;
      }
    }
  }

  .content {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;

    .content-inner {
      padding: 0 15px 15px 0;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 505px;
      
      .composer {
        display: inline-block;
        width: 675px;
        padding: 10px;
        margin-top: 10px;
        border: solid 2px #16a5c9;
        box-shadow: 8px 8px 10px #ccc;      
        .container {
          display: flex;
          flex-flow: row nowrap;
          align-items: stretch;
        }
        .author {
          width: 64px;
          height: 64px;
          img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 50%;
          }
        }
        .text-area {
          flex: 1 0 auto;
          resize: none;
          border: none;
          outline: none;
          margin-left: 10px;
          max-width: 577px;
          max-height: 200px;
        }
        .actions {
          margin-top: 10px;
        }        
        .button {
          padding: 8px 18px;
          border: none;
          margin-right: 5px;
        }        
        .submit-button {
          padding: 8px 18px;
        }
        .file input {
          border: solid 1px #16a5c9;
          border-radius: 0px;
          padding: 15px;
          margin-top: 10px;
          font-size: 15px;
          width: 100%;
        }
        .rating {
          display: inline-block;
          .fa {
            color: #a5d549;
            font-size: 32px;
          }
        }
      }

      .post-list {
        align-items: stretch;
        .post {
          display: inline-block;
          border: solid 1px #e2e6ea;
          box-shadow: 8px 8px 10px #ccc; 
          width: 100%;
          margin-top: 10px;
          .header {
            display: inline-block;
            width: 100%;
            padding: 10px;
            .picture {
              float: left;
              width: 64px;
              height: 64px;
              img {
                max-width: 100%;
                max-height: 100%;
                border-radius: 50%;
              }
            }
            .info {
              display: inline-block;
              font-family: 'Dosis', sans-serif;
              align-self: center;
              margin-left: 10px;
              width: 85%;
              .author {
                font-weight: 600;
                font-size: 18px;
              }
              .date {
                font-size: 14px;
                color: #888;
              }
            }
            .rating {
              margin-right: 20px;
              float: right;
              .fa {
                color: #a5d549;
              }
            }
            .text {
              font-size: 17px;
              color: #868686;
              margin-top: 10px;
            }   
            .attachment {
              margin-top: 10px;      
              img {
                max-width: 580px;
              }
            }     
          } 
          .comment {
            float: right;
            .header {
              text-align: right;
              padding: 10px;
              .picture {
                float: right;
                margin: 0 20px 0 10px;
                width: 64px;
                height: 64px;
                img {
                  max-width: 100%;
                  max-height: 100%;
                  border-radius: 50%;
                }
              }
              .info {
                display: inline-block;
                font-family: 'Dosis', sans-serif;
                align-self: center;
                margin-left: 10px;
                width: 80%;
                .author {
                  font-weight: 600;
                  font-size: 18px;
                }
                .date {
                  font-size: 14px;
                  color: #888;
                }
              }
              .text {
                font-size: 17px;
                color: #868686;
                margin-top: 10px;
              }   
            }     
          }     
        }      
      }
    }
  }
}

.radio-aside {
  flex: 1 0 40%;
  border-left: solid 1px #e2e6ea;
  padding: 0 0 0 20px;
  font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
  .title {
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .text {
    font-size: 17px;
    color: #868686;
    margin-top: 10px;
  }
  .social {
    display: inline-block;
    text-decoration: none;
    font-size: 32px;
    margin-right: 5px;
  }
  .days {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #373737;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 20px;
  
    li {
      cursor: pointer;
      display: inline-block;
      margin-right: 5px;
    }
  }
  .programs-list {
    margin-top: 10px;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 20px;
    .program {
      color: #373737;
      padding: 3px 5px;
      &:nth-child(odd) {
        background: #f1f1f1;
      }
      &:nth-child(even) {
        background: #fff;
      }
    }
    .name {
      color: #7b7b7b;
    }
  }
}

.similar-radios-container {
  background: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 6px 6px 10px rgba(0, 30, 84, .3);
  overflow-x: hidden;
  overflow-y: scroll;
  height: 385px;
  margin-top: 20px;
}

.similar-radio-list {
  display: flex;
  align-items: stretch;

  &.horizontal {
    flex-direction: row;
  }

  &.vertical {
    flex-direction: column;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.just-center {
    justify-content: center;
  }

  &.align-center {
    align-content: center;
  }
  
  .radio {
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
    box-sizing: border-box;

    &.col-3 {
      width: 33.33333333%;
    }

    &:nth-child(even) {
      background: #f1f1f1;
    }

    &:nth-child(odd) {
      background: #fff;
    }

    .picture-wrap {
      display: flex;
      flex-flow: column nowrap;
      align-content: center;
      justify-content: center;
      flex: 0 0 100px;
      cursor: pointer;
      border-radius: 5px;
      border: solid 1px #bfbfbf;
      background: #fff;
      overflow: hidden;
      width: 100px;
      height: 100px;
      .picture {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .content {
      margin-left: 15px;
      position: relative;
      .title {
        cursor: pointer;
        font-family: 'Dosis', sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.14em;
        margin: 0;
      }
      .location {
        font-family: 'Ubuntu', sans-serif;
        font-size: 14px;
        margin: 5px 0 0;
      }
      .actions {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        .round {
          box-sizing: border-box;
          border: solid 2px #fff;
          border-radius: 50%;
          padding: 0;
          outline: none;
          margin-right: 3px;
        }
        .inner {
          box-sizing: border-box;
          color: #14b5d6;
          background: #fff;
          width: 24px;
          height: 24px;
          border: solid 1px #14b5d6;
          border-radius: 50%;
          font-size: 12px;
          text-align: center;
          line-height: 2em;
          i {
            margin-top: 5px;
          }
        }        
        .inner-in {
          background-color: #e53b42;
					color: white;
					border: none;
        }
        button[disabled] .inner,
        button[disabled] .inner-in {  
          color: #ccc !important;
          border: solid 1px #ccc !important;
          background-color: #fff !important;
        }
      }
    }
  }
}

.page-footer-section {

  .outline-button {
    margin-top: 40px;
    border-width: 1px;
    font-size: 13px;
    font-weight: 500;
  }

  mp-search-form .shadow {
    width: 535px;
    height: 35px;
    left: -32px;
    bottom: -50px;
    margin-top: 0px;
    margin-left: 0px;
  }
  
  .genres {  
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 600px;
    margin-top: 20px;
  
    .container {
      flex: 0 1 auto;
      margin-top: 40px;
      
      .picture {
        cursor: pointer;
        text-align: center;
        height: 185px;
        width: 185px;
        border-radius: 50%;
        box-shadow: 6px 6px 10px rgba(0, 30, 84, .3);
        background: linear-gradient(to bottom, #bccae2 0%,#00afd3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        
        img {
          margin-top: 5px;
          height: 175px;
          width: 175px;
          border-radius: 50%;
        }
      }
    
      .title {
        cursor: pointer;
        margin-top: 20px;
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}