<div class="page-cover">
  <img src="../../images/cover.png">
</div>
<div class="page-content">
  <div class="page-header">
    <div class="radio-picture-container">
      <img class="radio-picture" ng-src="{{$ctrl.getImageURL($ctrl.radio.data.image.identifier100)}}">
    </div>
    <div class="radio-information">
      <h1 class="radio-name color-primary">{{$ctrl.radio.data.name}}</h1>
      <p class="radio-location">{{$ctrl.radio.data.city}}</p>
    </div>
    <div class="radio-stats">
      <div class="radio-stat radio-stat-likes">
        <i class="radio-stat-icon fa fa-heart"></i>
        <p class="radio-stat-value">{{$ctrl.radio.data.likes}}</p>
        <p class="radio-stat-label">Favoritos</p>
      </div>
      <div class="radio-stat radio-stat-grade">
        <i class="radio-stat-icon fa fa-star"></i>
        <p class="radio-stat-value">{{$ctrl.score.data}}</p>
        <p class="radio-stat-label">Nota</p>
      </div>
    </div>
  </div>
  <div class="page-section">
    <section class="radio-section">
      <nav class="radio-section-nav bg-primary">
        <ul class="radio-section-nav-items">
          <li class="radio-section-nav-item color-primary" ng-class="{active: $ctrl.tab == 'wall'}" ng-click="$ctrl.selectTab('wall')">Mural</li>
          <li class="radio-section-nav-item color-primary" ng-class="{active: $ctrl.tab == 'reviews'}" ng-click="$ctrl.selectTab('reviews')">Avaliações</li>
        </ul>
      </nav>
      <section class="radio-section-content">
        <div class="radio-section-content-inner"
        infinite-scroll="$ctrl.loadMorePosts()"
        infinite-scroll-parent infinite-scroll-disabled="$ctrl.postsState != 'idle'"
        ng-show="$ctrl.tab == 'wall'">

          <div class="post-composer border-primary">
            <div class="msg-container">
              <div class="msg-author">
                <img src="../../images/avatar.png">
              </div>
              <textarea class="msg-text-area" rows="1" msd-elastic ng-model="$ctrl.teste" placeholder="Mande uma mensagem para a rádio"></textarea>
            </div>
            <div class="msg-attachments">
              <div class="msg-attachment">
                <!--<button class="close-button"><i class="fa fa-times"></i></button>
                <img src="">-->
              </div>
            </div>
            <div class="post-composer-actions">
              <button class="post-composer-button bg-primary color-primary"><i class="fa fa-file-image-o"></i>&nbsp;&nbsp;Anexar uma foto</button>
              <button class="post-composer-button bg-primary color-primary"><i class="fa fa-microphone"></i>&nbsp;&nbsp;Anexar um áudio</button>
              <button class="post-composer-submit-button pull-right">Enviar</button>
            </div>
          </div>

          <div class="radio-post" ng-repeat="post in $ctrl.posts.data.records">
            <div class="radio-post-header">
              <div class="post-author-picture">
                <img ng-src="{{$ctrl.getImageURL(post.author.image.identifier100)}}">
              </div>
              <div class="post-info">
                <p class="post-author-name">{{post.author.name}}</p>
                <div ng-switch="post.postType">
                  <p class="post-date" ng-switch-when="0">enviou um recado em {{post.dateTime | date : 'dd/MM/yyyy'}} às {{post.dateTime | date : 'HH:mm'}}</p>
                  <p class="post-date" ng-switch-when="1">enviou um áudio em {{post.dateTime | date : 'dd/MM/yyyy'}} às {{post.dateTime | date : 'HH:mm'}}</p>
                  <p class="post-date" ng-switch-when="2">enviou uma foto em {{post.dateTime | date : 'dd/MM/yyyy'}} às {{post.dateTime | date : 'HH:mm'}}</p>
                </div>
              </div>
            </div>
            <div class="radio-post-body">
              <p class="post-text">{{post.text}}</p>
              <div class="radio-post-attachment" ng-switch="post.postType" ng-if="post.attachmentIdentifier">
                <img ng-src="{{$ctrl.getImageURL(post.attachmentIdentifier)}}" ng-switch-when="1">
                <audio ng-src="{{::$ctrl.getFileURL(post.attachmentIdentifier)}}" controls ng-switch-when="2"></audio>
              </div>
            </div>
          </div>
        </div>

        <div class="radio-section-content-inner" ng-show="$ctrl.tab == 'reviews'">

          <div class="post-composer border-primary">
            <div class="msg-container">
              <div class="msg-author">
                <img src="../../images/avatar.png">
              </div>
              <textarea class="msg-text-area" rows="1" msd-elastic ng-model="$ctrl.teste" placeholder="Mande uma mensagem para a rádio"></textarea>
            </div>
            <div class="msg-attachments">
              <div class="msg-attachment">
                <!--<button class="close-button"><i class="fa fa-times"></i></button>
                <img src="">-->
              </div>
            </div>
            <div class="post-composer-actions">
              <button class="post-composer-button bg-primary color-primary"><i class="fa fa-file-image-o"></i>&nbsp;&nbsp;Anexar uma foto</button>
              <button class="post-composer-button bg-primary color-primary"><i class="fa fa-microphone"></i>&nbsp;&nbsp;Anexar um áudio</button>
              <button class="post-composer-submit-button pull-right">Enviar</button>
            </div>
          </div>

          <div class="radio-post" ng-repeat="review in $ctrl.reviews.data">
            <div class="radio-post-header">
              <div class="post-author-picture">
                <img ng-src="{{$ctrl.getImageURL(review.author.image.identifier100)}}">
              </div>
              <div class="post-info">
                <p class="post-author-name">{{review.author.name}}</p>
                <p class="post-date">avaliou a rádio em {{review.dateTime | date : 'dd/MM/yyyy'}} às {{review.dateTime | date : 'HH:mm'}}</p>
              </div>
            </div>
            <div class="radio-post-body">
              <p class="post-text">{{review.text}}</p>
            </div>
          </div>

        </div>
      </section>
    </section>

    <aside class="radio-aside">
      <h2 class="radio-section-title color-primary">Contato</h2>
      <p class="radio-section-text" ng-repeat="address in $ctrl.addresses.data">
        {{address.address.street.name + ', ' + address.address.street.district.city.name + ' - ' + address.address.street.district.city.state.acronym}}
      </p>
      <p class="radio-section-text" ng-repeat="phone in $ctrl.phones.data">
        {{phone.phone.phonenumber}}
      </p>
      <hr class="separator">
      <h2 class="radio-section-title color-primary mgtp30">Redes Sociais</h2>
      <a href="{{social.value}}" target="_blank" class="radio-section-social color-primary" ng-repeat="social in $ctrl.socials.data">
        <i class="fa" ng-class="{
          'fa-facebook-official': social.socialNetwork.value == 'Facebook',
          'fa-twitter': social.socialNetwork.value == 'Twitter',
          'fa-instagram': social.socialNetwork.value == 'Instagram',
        }"></i>
      </a>
      <hr class="separator">
      <h2 class="radio-section-title color-primary mgtp30">Programação</h2>
        <ul class="radio-programs-days">
          <li ng-class="{'color-primary': $ctrl.day == 'day0'}" ng-click="$ctrl.selectDay('day0')">Seg</li>
          <li ng-class="{'color-primary': $ctrl.day == 'day1'}" ng-click="$ctrl.selectDay('day1')">Ter</li>
          <li ng-class="{'color-primary': $ctrl.day == 'day2'}" ng-click="$ctrl.selectDay('day2')">Qua</li>
          <li ng-class="{'color-primary': $ctrl.day == 'day3'}" ng-click="$ctrl.selectDay('day3')">Qui</li>
          <li ng-class="{'color-primary': $ctrl.day == 'day4'}" ng-click="$ctrl.selectDay('day4')">Sex</li>
          <li ng-class="{'color-primary': $ctrl.day == 'day5'}" ng-click="$ctrl.selectDay('day5')">Sáb</li>
          <li ng-class="{'color-primary': $ctrl.day == 'day6'}" ng-click="$ctrl.selectDay('day6')">Dom</li>
        </ul>
        <ul class="radio-programs-list">
          <li class="radio-program" ng-repeat="program in $ctrl.programs.data | orderBy : 'timeStart'" ng-if="program[$ctrl.day]">{{program.timeStart | limitTo : 5}} - <span class="radio-program-name">{{program.name}}</span></li>
        </ul>
    </aside>
  </div>
</div>
<div class="gradient-bg section">
  <div class="page-footer">
    <div class="page-footer-section page-footer-left-section">
      <h2 class="section-title color-primary">Rádios Semelhantes</h2>
      <div class="similar-radios-container">
        <ul class="similar-radio-list vertical wrap" infinite-scroll="$ctrl.loadMoreSimilar()" infinite-scroll-parent infinite-scroll-disabled="$ctrl.similarState != 'idle'">
          <li class="radio" ng-repeat="radio in $ctrl.similar">
            <div class="picture-wrap" ng-click="$ctrl.goToRadio(radio.id)">
              <img class="picture" ng-src="{{$ctrl.getImageURL(radio.image.identifier60)}}">
            </div>
            <div class="content">
              <h3 class="title" ng-click="$ctrl.goToRadio(radio.id)">{{radio.name}}</h3>
              <p class="location">{{radio.city}}</p>
              <div class="actions">
                <button class="round" mp-play="radio"><div class="inner">&nbsp;<i class="fa fa-play"></i></div></button>
                <button class="round" ng-disabled="!$ctrl.isIdentified()" ng-click=$ctrl.favorite(radio)>
                  <div ng-class="{
                      'inner inner-in': radio.favorite == true,
                      'inner': radio.favorite == false
                    }"><i class="fa fa-heart"></i>
                  </div>
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="page-footer-section page-footer-right-section">
      <h2 class="section-title color-primary">Encontre as rádios em todo o Brasil</h2>
      <mp-search></mp-search>
      <h2 class="section-title section-title-small color-primary mgtp40">Qual seu estilo musical preferido?</h2>
      <h2 class="section-title section-title-small color-primary">Gêneros musicais</h2>
      <button class="outline-button border-primary color-primary">Ver todos</button>
    </div>
  </div>
</div>