.color-gradient-bg {
  background: linear-gradient(#fff, #fff 20%, rgba(255, 255, 255, 0)), url('../../images/color-bg.jpg');
  background-size: auto, cover;
}

.about-page {
  flex: 1 0 auto;
}

.about-section {
  padding: 0 130px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #2c3d51;
  margin-bottom: 30px;

  a, button {      
    color: #16a5c9;
    font-weight: 700;
    text-decoration: none;
  }

  a:hover, button:hover {
    color: #00afd3;
    cursor: pointer;
    text-decoration: underline;
  }
}

.about-list {
  list-style: disc;
  padding-left: 35px;
}