mp-radio-slider {
	width: 100%;
	background-image: url('../../images/waves-bg.jpg');
	background-repeat: repeat-x;
	background-position: center center;
}

.radio-slider {
	font-family: 'Dosis', sans-serif;
	margin: 0 auto;
	padding: 25px 0;
	width: 1046px;
	overflow: hidden;
	position: relative;

	.slides {
		position: relative;
		height: 426px;
	}

	.slide, .content, .logo-wrapper, .logo, .title, .location, .likes, .actions, .round, .inner, .socials, .social {
		transition: all 300ms ease;
	}

	.slide {
		overflow: hidden;
		display: inline-flex;
		flex-flow: column nowrap;
		background: #7ad1e3; /* Old browsers */
		background: -moz-linear-gradient(top, #d8dfeb 0%, #7ad1e3 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #d8dfeb 0%,#7ad1e3 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #d8dfeb 0%,#7ad1e3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8dfeb', endColorstr='#7ad1e3',GradientType=0 ); /* IE6-9 */
		position: absolute;
		border-radius: 50%;
		border-color: #00afd3;
		border-style: solid;
		box-sizing: border-box;
		transition: all 300ms ease;

		&.hidden {
			display: none;
		}
		
		.content {
			flex: 1 0 auto;
			padding: 25px 0;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;

			.logo-wrapper {
				display: flex;
				flex-flow: column nowrap;
				justify-content: center;
				width: 150px;
				height: 150px;

				.logo {
					max-width: 100%;
					margin: 0 auto;
					cursor: pointer;
				}
			}

			.title, .location {
				color: #383838;
			}

			.title {
				cursor: pointer;
				font-weight: 600;
				margin: 10px 0 0;
				font-size: 24px;
				text-align: center;
			}

			.location {
				font-weight: 500;
				font-size: 18px;
				margin: 5px 0 0;
			}

			.likes {
				margin: 10px 0 0;
				color: #00afd3;
				font-size: 16px;
			}

			.actions {
				margin: 10px 0 0;				

				button[disabled] {    
					border-color: #ccc !important;
				}

				button[disabled] .inner, button[disabled] .inner-in {    
					background: #ccc !important;
				}
			}

			.round {
				box-sizing: border-box;
				border: solid 2px #00afd3;
				border-radius: 50%;
				outline: none;
				padding: 0;

				.inner {
					box-sizing: border-box;
					color: white;
					background: #65d3e3;
					width: 46px;
					height: 46px;
					border: solid 6px white;
					border-radius: 50%;
					line-height: 34px;
					font-size: 16px;
				}
				
				.inner-in {
					background-color: #e53b42 !important;
				}
			}

			.socials {
				margin: 10px 0 0;
			}

			.social {
				padding: 0;
				border: none;
				background: white;
				border-radius: 50%;
				width: 32px;
				height: 32px;
				color: #58cfed;
				font-size: 18px;
				outline: none;
			}
		}
	}

	.slide.big {
		top: 0px;
		width: 426px;
		height: 426px;
		border-width: 2px;
	}

	.slide.small {
		width: 180px;
		height: 180px;
		border-width: 1px;
		top: 123px;

		.content {
			padding: 5px 0;

			.logo-wrapper {
				width: 56px;
				height: 56px;
			}

			.title {
				font-weight: 600;
				margin: 5px 0 0;
				font-size: 12px;
			}

			.location {
				font-weight: 500;
				font-size: 11px;
				margin: 3px 0 0;
			}

			.likes {
				font-size: 0px;
				margin: 0;
			}

			.actions {
				margin: 3px 0 0;
			}

			.round .inner {
				width: 32px;
				height: 32px;
				border: solid 4px white;
				line-height: 25px;
				font-size: 12px;
			}

			.socials {
				margin: 0;
			}

			.social {
				width: 16px;
				height: 16px;
				font-size: 12px;
			}
		}
	}

	.slide.left.out {
		left: 0px;
	}
	
	.slide.left.in {
		left: 110px;
		opacity: 0.7;
		box-shadow: 0 8px 20px 0 rgba(22, 165, 201, 0.4);
	}

	.slide.middle {
		left: 310px;
		opacity: 0.85;
		box-shadow: 0px 10px 48px 0 rgba(22, 165, 201, 0.6);
	}

	.slide.right.in {
		left: 756px;
		opacity: 0.7;
		box-shadow: 0 8px 20px 0 rgba(22, 165, 201, 0.4);
	}

	.slide.right.out {
		left: 956px;
	}

	.slide.out {
		top: 168px;
		width: 90px;
		height: 90px;
		opacity: 0;
	}

	.controls {
		position: absolute;
		top: 198px;
		width: 100%;

		.arrow {
			position: absolute;
			padding: 0;
			color: #13b4d6;
			font-size: 64px;
			background: transparent;
			border: none;
			outline: none;
		}

		.arrow.left {
			left: 0;
		}

		.arrow.right {
			right: 0;
		}
	}	
}